/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
body {
  background-color: #D4A76A;

}
h1 {
  font-size: medium;
}
header {
  background-color: #FFDBAA;
  color: #553100;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  text-align: left;




}
button {
  color: white;
  background-color: #805215;
  border-color:#805215;




}
.cards {
  background-color: white;
  height: auto;
  width: 250px;
  text-align: left;
  padding: 5px;
  font-size: small;

}
.navigation{
  display: list-item;
  text-align: right;
}

